.bge_address, 
.bge_tx,
.bge_hash,
.bge_value
.bge_blocke,
.elliptic{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

table{
    table-layout:fixed;
}

.bge_tx_in,
.bge_tx_in a{
    color:green;
}

.bge_tx_out,
.bge_tx_out a{
    color:red;
}

.bge_tx_out a,
.bge_tx_in a{
    text-decoration:underline;
}
#top-link-block.affix-top {
    position: absolute;
    bottom: -82px;
    left: 10px;
}
#top-link-block.affix {
    position: fixed;
    bottom: 18px;
    left: 10px;
}
