@(address:String, outputs:List[Output], info: OutputsInfo, page: Pagination, addressForm:play.api.data.Form[String], current: Int)

@main("Address", "explorer"){
  @row{<p>Transaction outputs with the address</p>}  
  @row{<p class="bge_wallet" search="@address">@address</p>}  
  @search_form(addressForm)
  @not_found("address", outputs.length==0)
  @if(outputs.length>0){
    @row{
      @table{
        @tr{
          <th>Summary</th>
          <th class="text-right">@unitButtons()</th>
        }
        @tr{
          <td>Balance</td>
          <td class="bge_value text-right">@(info.in-info.out)</td>
        }        
        @tr{
          <td>Received</td>
          <td class="bge_value text-right">@info.in</td>
        }
        @tr{
          <td>Spent</td>
          <td class="bge_value text-right">@info.out</td>
        }
        @tr{
          <td>Total outputs</td>
          <td class="text-right">@info.inputs</td>
        }
        @tr{
          <td>Unspent outputs</td>
          <td class="text-right">@(info.inputs - info.outputs)</td>
        }
        @for( add <- address.split(",") if (address.split(",").length>1)){
          @tr{
            <td>Related address</td>
            <td class="bge_tx text-right">@add</td>
          }
        }  
      }
    }
    @row{
      @table{
          @tr{<th>Transaction outputs (TxOs)</th>}
      }
    }
    
    @row{
      
      @table{
        
        @tr{
          <th width="30%">Received in Tx</th>
          <th width="20%" class="text-right">Value</th>
          <th width="30%">Spent in Tx</th>
          <th width="20%" class="text-right">Value</th>
        }
        @for(o <- outputs){   
          @tr{                             
            <td class="bge_tx" search="@o.hash">@o.hash</td>
            <td class="text-right in bge_tx_in bge_value" satoshis="@o.value">@o.value</td>
            @if(o.spent != ""){
              <td class="bge_tx" search="@o.spent">@o.spent</td>
              <td class="text-right bge_tx_out bge_value" search="@o.spent" satoshis="@o.value">@o.value</td>
            }else {
              <td></td>
              <td></td>
            }
          }
        }
      }

    }
    @pagination(page, "/address/"+address, current)
  }
}
