@(address:String, outputs:List[UTXO], movements:List[Movement], utxosInfo: UTXOsSummary, movementsInfo: MovementsSummary, addressForm:play.api.data.Form[String], current: Int)

@main("Address", "explorer", addressForm){
  @row{<p>Transaction outputs with the address</p>}  
  @row{<span class="bge_wallet" search="@address">@address</span> (Click on the address to get to its wallet)  }  
  @not_found("address", outputs.length==0)
  @if(outputs.length>0){
    @row{
      @table{
        @tr{
          <th>Summary</th>
          <th class="text-right">@unitButtons()</th>
        }
        @tr{
          <td>Balance</td>
          <td class="bge_value text-right">@utxosInfo.sum</td>
        }
        @tr{
          <td>First tx in block</td>
          <td class="text-right bge_block">@(Math.min(utxosInfo.minHeight, movementsInfo.minHeight))</td>
        }
        @tr{
          <td>Last tx in block</td>
          <td class="text-right bge_block">@(Math.max(utxosInfo.maxHeight, movementsInfo.maxHeight))</td>
        }        
        @tr{
          <td>Received</td>
          <td class="bge_value text-right">@(utxosInfo.sum + movementsInfo.sum)</td>
        }
        @tr{
          <td>Spent</td>
          <td class="bge_value text-right">@movementsInfo.sum</td>
        }
        @tr{
          <td>Total outputs</td>
          <td class="text-right bge_number">@(movementsInfo.count+utxosInfo.count)</td>
        }
        @tr{
          <td>Unspent outputs</td>
          <td class="text-right bge_number">@utxosInfo.count</td>
        }
        @for( add <- address.split(",") if (address.split(",").length>1)){
          @tr{
            <td>Related address</td>
            <td class="bge_tx text-right">@add</td>
          }
        }  
      }
    }
    @row{
      @table{
          @tr{<th>Transaction outputs (TxOs)</th>}
      }
    }
    @row{ 
      @table{
        @tr{
          <th width="30%">Received in Tx</th>
          <th width="20%" class="text-right">Value</th>
          <th width="30%">Spent in Tx</th>
          <th width="20%" class="text-right">Value</th>
        }
        @for(o <- outputs){   
          @tr{                             
            <td class="bge_tx" search="@o.tx">@o.tx</td>
            <td class="text-right in bge_tx_in bge_value" satoshis="@o.value">@o.value</td>
            <td></td>
            <td></td>
            }
        }
        
        @for(m <- movements){   
          @tr{                             
            <td class="bge_tx" search="@m.tx">@m.tx</td>
            <td class="text-right in bge_tx_in bge_value" satoshis="@m.value">@m.value</td>
            <td class="bge_tx" search="@m.spentInTx">@m.spentInTx</td>
            <td class="text-right bge_tx_out bge_value" search="@m.spentInTx" satoshis="@m.value">@m.value</td>
            
          }
        }
      }
    }
    @* @pagination(page, "/address/"+address, current)*@
  }
}
