@(height: Int, list: List[Transaction], info: TransactionsSummary,addressForm:play.api.data.Form[String], current: Int)

@main("Block", "explorer", addressForm){
  @row{<p>Transactions from block @height</p>}
  @not_found("block", info.tx==0)
  @if(info.tx>0){
    @row{
      @table{
        @tr{
         <th>Summary</th>
         <th class="text-right">@unitButtons()</th>
        }
        @if(info.tstamp > 0){
          @tr{
            <td>In blockchain since</td>
            <td class="text-right bge_date">@info.tstamp</td>
          }
        }
        @tr{
          <td>Total sent</td>
          <td class="text-right bge_value">@info.value</td>
        }
        
        @tr{
          <td>Transactions</td>
          <td class="text-right bge_number">@info.tx</td>
        }        
        <tr style="height:2em">
          <td ></td>
          <td> </td>
        </tr>
        @tr{
          <th width="75%">Transaction</th>
          <th width="25%" class="text-right">Value</th>
        } 
        @for(tx <- list){   
          @tr{
            <td class="bge_tx">@tx.hash</td>
            <td class="text-right bge_value">@tx.value</td>
          }
        }  
      }
    }
    
    @pagination(info.tx, "/block/"+height, current)          
  }
}
