@(blockHeight:String, txList: List[(String, Long)],addressForm:play.api.data.Form[String])
@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main("Block " + blockHeight, "explorer"){
  <div class="row">
    <div class="col-md-12">
      <p>
        Transactions from block
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        @blockHeight
      </p>
    </div>
  </div>
  @search_form(addressForm,"Bitcoin Address, block height or tx hash", "Please enter a search")
  @not_found("block", txList.length==0)
  @if(txList.length>0)  {
  <div class="row">
    <div class="col-md-12">
      <p></p>
    </div>
  </div>
        
  <div class="row">
    <div class="col-md-12 text-right">
      <p>@unitButtons()</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <tr>
          <th>Transaction</th>
          <th class="text-right">Value</th>
        </tr>
        @for((hash,value) <- txList){   
          <tr>
            <td class="bge_tx">@hash</td>
            <td class="text-right bge_value">@value</td>
          </tr>
        }  
      </table>
    </div>
  </div>
}
}
