@(blockHeight:Int, stats:List[Stat], distribution: Distribution, inputValue: Double, valueForm:play.api.data.Form[Double])
@import b3.vertical.fieldConstructor

@main("Distribution", "distribution"){
@row{<p>
    @b3.form(action = routes.Application.distributionPost) {
      @b3.text(valueForm("value"), '_label -> "Number of Bitcoins",
      'placeholder -> "Please enter a number of Bitcoins" )
      @b3.submit('class -> "btn btn-primary"){
        <span class="glyphicon glyphicon-ok"></span> Search
      }
    }      
  </p>
}
@row{<p>There are @distribution.a addresses with more than @inputValue bitcoins, totalling @distribution.b, @distribution.c % of all bitcoins.</p>}
@row{
  @table{
    @for(stat <-stats){   
      @tr{
        <td width="75%" class="elliptic">@stat.name</td>
        <td width="25%" class="elliptic text.right">@stat.value</td>
      }  
    }
  }
}
}
