@(blockHeight:Int, blocks: List[(String, Int, Int)])


@main("Bitcoin Graph Explorer", "explorer"){
  <div class="row">
    <div class="col-md-12">
      <p>With the Bitcoin Graph Explorer you can explore the blocks,
      transactions and addresses up to block <span class="bge_block">@blockHeight</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <table class="table table-striped table-hover" style="table-layout:fixed">
      <tr>
        <td width="20%">Height</td>
        <td width="60%">Hash</td>
        <td width="20%" class="text-right">Tx</td>
      </tr>
  
    @for((hash,height,txCount) <- blocks){   
      <tr class="">
        <td width="20%"class="bge_block">@height</td>
        <td width="60%" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">@hash</td>
        <td width="20%" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" class="text-right">@txCount</span></td>
      </tr>
    }
    </table>
  </div>
  </div>
  
  

  
}
