@(blockHeight:Int, blocks: List[Block],addressForm:play.api.data.Form[String])

@main("Bitcoin Graph Explorer", "explorer"){
  @row{<p>Welcome to bitcoin privacy. Enter a bitcoin address to check for other addresses that seem to belong to the same wallet</p>}
  @row{<p>With the Bitcoin Graph Explorer you can also explore the blocks, transactions and addresses according to the blockchain up to block @blockHeight</p>}

  @search_form(addressForm)
  
  @row{
    @table{
      @tr{
        <th>Blocks</th>
        <th></<th>
        <th></<th>
        <th class="text-right">@unitButtons()</th>
      }
      @tr{
        <th width="20%">Height</th>
        <th width="50%">Hash</th>
        <th width="10%" class="text-right">Tx</th>
        <th width="20%" class="text-right">Value</th>
      }
      @for(block <- blocks){   
        @tr{
          <td class="bge_block">@block.height</td>
          <td class="bge_hash">@block.hash</td>
          <td class="text-right">@block.tx</td>
          <td class="bge_value text-right">@block.value</td>
        }
      }
    } 
  }
}
