@(blockHeight:Int, addressForm:play.api.data.Form[String])

@main("Bitcoin Wallet Search", "search", addressForm){
@row{<p></p>}
  @row{ <p>Welcome to BitcoinPrivacy.net. We aim to level the playing
  field in bitcoin privacy. No subscription
  required. <a title="1L1EnvmZ8Gg42NTzGwEHrMD4XaosmgntKF"
  href="bitcoin:1L1EnvmZ8Gg42NTzGwEHrMD4XaosmgntKF">Donations</a> are
  welcome. <a href="mailto:info@@bitcoinprivacy.net">We</a> are looking for community-minded companies or
  individuals to sponsor this public service.</p>

  <p>Below you can enter a bitcoin address to see which addresses are
  linked to it in a partial wallet. Please see
  the <a href='@routes.Application.faq'>FAQ</a> for what this
  means. Above, you can also enter addresses, block numbers (up to block <a class="bge_block">@blockHeight</a>) or
  transaction hashes for a more traditional block explorer.</p>
  
  }
  @wallet_form(addressForm)
  
}
