@(tab: String, addressForm:play.api.data.Form[String])
<!--
TODO: see Thttp://jasny.github.io/bootstrap/examples/navmenu-push/

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas in canvas-slid" style="left: 0px;">
      <a class="navmenu-brand" href="#">Project name</a>
      <ul class="nav navmenu-nav">
        <li><a href="../navmenu/">Slide in</a></li>
        <li class="active"><a href="./">Push</a></li>
        <li><a href="../navmenu-reveal/">Reveal</a></li>
        <li><a href="../navbar-offcanvas/">Off canvas navbar</a></li>
      </ul>
      <ul class="nav navmenu-nav">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu navmenu-nav">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>

<div class="navbar navbar-default navbar-fixed-top">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

- 
-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse"
      data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.Application.index">
        BitcoinPrivacy
      </a>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">     
        <li class="@("active".when(tab == "faq"))"><a href="@routes.Application.faq">FAQ</a></li>
        <li class="@("active".when(tab == "stats"))"><a href="@routes.Application.stats("1000.0")">Stats</a></li>
        <li class="@("active".when(tab == "richlist"))"><a href="@routes.Application.richList">Richlist</a></li>
        <li class="@("active".when(tab == "explorer"))"><a href="@routes.Application.explorer">Explorer</a></li>
        <li> <a href="https://blog.bitcoinprivacy.net" title="Blog" class="sibling">Blog</a></li>
      </ul>
    </div>
    <div class="navbar-header" style="width:150px;position: fixed;top: -12px;right: 78px;">
      <span class="navbar-brand" style="padding:0;">@search_form(addressForm)</span>
    </div>
    
</nav>

