@(tab: String)
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse"
      data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class=""
      href="#"><img src="/assets/img/bitcoin.png" height="50px" width="auto"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling
    -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="@("active".when(tab == "search"))"><a href="@routes.Application.index">Search</a></li>
        <li class="@("active".when(tab == "explorer"))"><a href="@routes.Application.explorer">Explorer</a></li>
        <li class="@("active".when(tab == "richlist"))"><a href="@routes.Application.richList">Richlist</a></li>
        <li class="@("active".when(tab == "stats"))"><a href="@routes.Application.stats">Stats</a></li>
        <li class="@("active".when(tab == "distribution"))"><a href="@routes.Application.distribution">Distribution</a></li>
        <li class="@("active".when(tab == "faq"))"><a href="@routes.Application.faq">FAQ</a></li>
        <li> <a href="https://bitcointalk.org/index.php?topic=923650.0" title="News" class="sibling" target="_blank">News</a></li>
    </div>
  <div>
</nav>
