@(pagesTotal: Int, pagesSize: Int, url: String, current: Int)

@if(pagesTotal>pagesSize){
  @row{
  <nav class="text-center">
    <ul class="pagination">
      <li class=@("disabled".when(current==1))>
        <a href=@if(current>1){
          "@url?page=@(current-1)" 
          aria-label="Previous">} else{
          "#"
        }  
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      @for(i <- current - 10 to current+10 if(i>0 && i<=(pagesSize-1+pagesTotal)/pagesSize)){
        @if(i==current){
          <li class="active"><a href="@url?page=@i">@i</a></li>
        } else{
          <li><a href="@url?page=@i">@i</a></li>
        }
      }
      <li class=@("disabled".when(current==(pagesSize-1+pagesTotal)/pagesSize))>
        <a href=@if(current< (pagesSize-1+pagesTotal)/pagesSize){
          "@url?page=@(current+1)"
          aria-label="Next">} else{
          "#"
        }
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav> 
  <p class="text-center"><b>Showing page @current of @((pagesSize-1+pagesTotal)/pagesSize), @(if (current==(pagesSize-1+pagesTotal)/pagesSize) pagesTotal % pagesSize else pagesSize ) results</b></p>  
  }
}
