@(blockHeight:Int, richestList:List[((String, Long), (String, Long))]/*, wallets: List[(String, Long)]*/)

@main("Bitcoin (Partial Wallet) Rich List", "richlist"){
<div class="row">
  <div class="col-md-12">
    <p>Behold the top 1000 richest standalone addresses versus the top
    1000 partial wallets, up to block  <span class="bge_block">@blockHeight</span>!</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-right">
      @unitButtons()
  </div>
</div>
  
<div class="row">
    <div class="col-xs-12">
      <table class="table-hover table table-striped">
        <tr>
          <th width="10%"></th>
          <th width="25%">Addresses</th>
          <th width="20%"></th>
          <th width="25%">Wallet</th>
          <th width="20%"></th>
        </tr>
        </tr>
        @for((((address,addressBalance),(wallet,walletBalance)),pos) <- richestList.zipWithIndex){
          <tr>
            <td class="text-left">@(pos+1)</td>
            <td class="bge_address">@address</td>
            <td class="text-right bge_value">@addressBalance</td>
            <td class="bge_wallet">@wallet</td>
            <td class="text-right bge_value">@walletBalance</td>
          </tr>
         }
      </table>
    </div>
</div>
}
