@(blockHeight:Int, richestList:List[(Address, Address)], addressForm:play.api.data.Form[String])

@main("Bitcoin (Partial Wallet) Rich List", "richlist", addressForm){
  @row{<p>Behold the top 1000 richest standalone addresses versus the top 1000 partial wallets, up to block @blockHeight!</p>}
  @row{
    @table{
      @tr{
        <th width="10%"></th>
        <th width="25%">Addresses</th>
        <th width="20%"></th>
        <th width="25%">Wallet</th>
        <th width="20%"></th>
      }
      @for(((address, representant),pos) <- richestList.zipWithIndex){
        @tr{
          <td class="text-left">@(pos+1)</td>
          <td class="bge_address">@address.hash</td>
          <td class="text-right">@address.balance</td>
          <td class="bge_wallet">@representant.hash</td>
          <td class="text-right">@representant.balance</td>
        }
      }
    }
  }
}
