@(addressForm:play.api.data.Form[String])
@import b3.inline.fieldConstructor  // Declares a vertical field constructor as default

 




                @b3.form(action = routes.Application.search) {                                                               
                @b3.text(addressForm("address"), '_label -> "",                                                                                                                               
                'placeholder -> "Address/Tx/Block" )                                                                                                                                           
                @b3.submit('class -> "hidden"){                                                                                                                                                     
                <span class="text-right glyphicon
                glyphicon-ok"></span> Search                                                                                                                               
                }                                                                                                                                                                                            
                }                                                                                                                                                                                            


 
