@(blockHeight:Int, stats:ServerStat, addressForm:play.api.data.Form[String])

@main("Statistics", "stats", addressForm){
  @row{
    @table{
      @tr{
       <td class="elliptic">Last update on</td>
       <td class="text-right bge_date">@stats.tstamp</td>
      }
      @tr{
       <td class="elliptic">Duration</td>
       <td class="text-right bge_time">@stats.duration</td>
      }
      @tr{
       <td class="elliptic">Average duration</td>
       <td class="text-right bge_time">@stats.averageDuration</td>
      }
      @tr{
       <td class="elliptic">Blocks</td>
       <td class="text-right bge_number">@stats.blocks</td>
      }
      @tr{
       <td class="elliptic">Average blocks</td>
       <td class="text-right bge_number">@stats.averageBlocks</td>
      }
      @tr{
       <td class="elliptic">Database size</td>
       <td class="text-right bge_number">@(stats.databaseSize / (1024*1024)) MB</td>
      }
      @*@tr{
       <th>Commands</th>
       <th></th>
      }
      @for(line <- stats.lastCommand){ 
        @tr{
          
          <td colspan=2 class="">@line</td>
        }
      }*@
    }
  }
}
