@(blockHeight:Int, stats:Stat, distribution: Distribution, inputValue: Double, valueForm:play.api.data.Form[String], addressForm:play.api.data.Form[String])
@import b3.vertical.fieldConstructor

@main("Statistics", "stats", addressForm){

  
 @row{<p></p>}
 @row{
   @table{
     @tr{
       <td class="elliptic">Block height in database</td>
       <td class="text-right bge_block">@stats.block_height</td>
       }
     @tr{
       <td class="elliptic">Total transactions</td>
       <td class="text-right bge_number">@stats.total_transactions</td>
       }

     @tr{
       <td class="elliptic">Total Bitcoins</td>
       <td class="text-right bge_number">@stats.total_bitcoins_in_addresses</td>
     }
     @*@tr{
       <td class="elliptic">Addresses</td>
       <td class="text-right bge_number">@stats.total_addresses</td>
     }
     @tr{
       <td class="elliptic">Wallets</td>
         <td class="text-right bge_number">@stats.total_closures</td>
       }*@
       @tr{
         <td class="elliptic">Addresses with a positive balance</td>
         <td class="text-right bge_number">@stats.total_addresses_with_balance</td>
       }
       @*@tr{
         <td class="elliptic">Wallets with a positive balance</td>
         <td class="text-right bge_number">@stats.total_closures_with_balance</td>
       }
       *@ @tr{
         <td class="elliptic">Non-dust addresses</td>
         <td class="text-right bge_number">@stats.total_addresses_no_dust</td>
       }
       @*@tr{
         <td class="elliptic">Non-dust wallets</td>
         <td class="text-right bge_number">@stats.total_closures_no_dust</td>
       }*@
       @tr{
         <td class="elliptic">Gini coefficient of non-dust addresses</td>
         <td class="text-right">@stats.gini_address</td>
       }
     @*@tr{
       <td class="elliptic">Gini coefficient of non-dust wallets</td>
       <td class="text-right">@stats.gini_closure</td>
     }*@ 
    }
  }

  @b3.form(action = routes.Application.distributionPost) {
     @b3.text(valueForm("value"), '_label -> "Distribution of Bitcoin wealth",
    'placeholder -> "Please enter a number of Bitcoins" )
     @b3.submit('class -> "btn btn-primary"){
      <span class="glyphicon glyphicon-ok"></span> Calculate
     }
  }      
  

@row{<p>There are @number(distribution.addresses) addresses with more than @inputValue bitcoins, totalling @number(distribution.satoshis/100000000) BTC, @(distribution.satoshis/stats.total_bitcoins_in_addresses/1000000.0)% of all existing bitcoins.</p>}



 }
