@(txHash: String, inputs: List[Movement], outputs: List[Movement], utxo: List[UTXO], inputsInfo: MovementsSummary, outputsInfo: MovementsSummary, info: UTXOsSummary, addressForm:play.api.data.Form[String], current: Int)

@main("Transaction", "explorer", addressForm){
  @row{<p>List of inputs and outputs of the transaction</p>}
  @row{<p class="elliptic">@txHash</p>}
  @not_found("transaction", inputs.length+outputs.length+utxo.length==0)
  @if(inputs.length+outputs.length+utxo.length>0){
    @row{
      @table{
        @tr {
         <th>Summary</th>
         <th class="text-right">@unitButtons()</th>
        }
        @tr{
          <td>Inputs</td>
          <td class="text-right bge_number">@inputsInfo.count</td>
        }
        @tr{
          <td>Height</td>
          <td class="text-right bge_block">TODO</td>
        }
        @tr{
          <td>Outputs</td>
          <td class="text-right bge_number">@outputsInfo.count</td>
        }
        @tr{
          <td>Sum of Inputs</td>
          <td class="bge_value text-right">@inputsInfo.sum</td>
        }
        @tr{
          <td>Sum of Outputs</td>
          <td class="bge_value text-right">@outputsInfo.sum+info.szn</td>
        }
        @if(inputsInfo.count==0){
          @tr{
            <td>Coinbase transaction (freshly mined bitcoins plus fees of this block)</td>
            @*TODO: link to block, redesign search position*@
            <td></td>
          }
       }else{
         @tr{
           <td>Fee</td>
           <td class="bge_value text-right">@(inputsInfo.sum - outputsInfo.sum - info.sum)</td>
         }
       }
     }
   }
   @row2{
    @table{
      @tr{
        <th width="60%">Inputs</th>
        <th width="40%" class="text-right">Value</th>
      }
      @for(m <- inputs){   
        @tr{
          @*<td class=@("bge_address".when(m.address!="No decodable address found"))>@m.address</td>
          <td search="@m.hash" class="bge_value bge_tx_in text-right  @(" bge_tx".when(m.hash != ""))">@m.value</td>*@
        }
      }  
    }
  }{
    @table{
      @tr{
        <th width="60%">Outputs</th>
        <th width="40%" class="text-right">Value</th>
      }
      @for(m <- outputs){
        @tr{
          @*<td class=@("bge_address".when(m.address!="No decodable address found"))>@m.address</td>
          <td search="@m.hash" class="text-right bge_tx_out bge_value @(" bge_tx".when(m.hash != ""))">@m.value</td>*@
        }
      }
    }
  }
  @* @pagination(page,"/transaction/"+txHash, current)*@
}
}
