@(txHash: String, movements:List[(String, String, String, Long)],addressForm:play.api.data.Form[String])
@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main("Transaction", "explorer"){
<div class="row">
    <div class="col-md-12">
      <p>List of movements of the transaction</p>
   </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>@txHash</p>
  </div>
</div>
@search_form(addressForm,"Bitcoin Address, block height or tx hash","Please enter a search")  
  <div class="row">
    <div class="col-md-12">
      <p class="text-right">
        @unitButtons()
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-hover table-striped">
        <tr>
          <th width="60%">Outputs</th>
          <th width="40%" class="text-right">Value</th>
        </tr>
        @for((address, paidInTx, spentInTx,value) <- movements){   
          @if(spentInTx=="x"){
            <tr>
              <td class="bge_address">@address</td>
              <td search="@paidInTx" class="bge_value bge_tx_in text-right  @(" bge_tx".when(paidInTx != ""))">@value</td>
            </tr>
          }
        }  
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-hover table-striped">
        <tr>
          <th width="60%">Inputs</th>
          <th width="40%" class="text-right">Value</th>
        </tr>
        @for((address, paidInTx, spentInTx,value) <- movements){
          @if(spentInTx != "x"){
            <tr>
              <td width="60%" class="bge_address">@address</td>
              <td width="40%" search="@spentInTx" class="text-right bge_tx_out bge_value @(" bge_tx".when(spentInTx != ""))">@value</td>
            </tr>
          }
        }
      </table>
    </div>
  </div>
}
