@(blockHeight:Int,inputAddress:String,addressForm:play.api.data.Form[String],info:AddressesSummary,addressesOption:Option[List[Address]], current: Int)

@main("Wallet", "explorer", addressForm){
  @row{ <p>Wallet of address</p>}
  @row{<span class="bge_address">@inputAddress </span> (Click on any address to get to its output details)}
  @for(t<-addressesOption){
    @if(t.length>0){
    @row{
      @table{
        @tr{
          <th>Summary</th>
          <th class="text-right">@unitButtons()</th>
        }
        @tr{
          <td>Number of non-empty addresses</td>
          <td class="text-right bge_number">@info.count</td>
        }
        @tr{
          <td>Total balance</td>
          <td class="bge_value text-right">@info.sum</td>
        }
      }
    }
    @row{
      @table{
        @tr{
          <th width="60%">Address</th>
          <th width="40%" class="text-right">Value</th>
        }
        @for(address <- t){
          @tr{
            <td class="bge_address">@address.address</td>
            <td class="bge_value text-right">@address.balance</td>
          }
        }
      }
    }

    @*@pagination(page,"/wallet/"+inputAddress, current)*@
    }
    @not_found("address", t.length==0)
  }
}
